body{
    background-color: rgb(167, 228, 228);
}
img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2cm;
    border-radius: 20px;
    border-color: black;
}

p{
    text-align: justify;
    text-justify: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 142, 250);
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    padding-left: 5cm;
    padding-right: 5cm;
}
